
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

/* header */

/* navigation-start */


.menu{
    list-style-type: none;
    color: white;
} 

.header-logo {
    text-decoration: none;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-item {
    color: #2e2f42;
}

.menu-item{
   color: #2e2f42; 

}
.menu-item-link{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item-link:hover{
    color: #404bbf;
}

.menu-item-link:focus{
    color: #404bbf;
}

/* navigation-end */

.contacts{
    font-style: normal;
}

.contacts-item{
    text-decoration: none;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: regular;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration: none;
}

.contacts-item-link{
    text-decoration: none;
    color: #434455;
}

.contacts-item-link:focus{
    color: #404bbf;
}

.contacts-item-link:hover{
 color: #404bbf;
}

.contacts {
    list-style-type: none;
    color: white;
}



/* header-end */

/* main */

/* section-info-start */

.main-header{
    background-color: #2E2F42;
}

.first-header{
    color : white;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.07;
    white-space: pre-line;
    text-align: center;
    background-color: #4D5AE5;
}

.main-header-button{
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.main-header-button:hover{
  background-color: #404BBF;  
}

.main-header-button:focus{
    background-color: #404BBF;
}

/* section-info-end */

/* section-info-start */

.info-header {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
}

.info{
    background-color: white;
}


.info-list{
    list-style-type: none;
}

.info-list-header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2E2F42;
}

.info-list-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: regular;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

/* section-info-end */



/* section-team-start */

.team{
    background-color: #F4F4FD;
}

.team-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-list{
    list-style-type: none;
    background-color: #F4F4FD;
}

.team-list-item{
    background-color: white;
}

.team-list-header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2E2F42;
}

.team-list-text{
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* section=team-end */

/* section-portfolio-start */

.portfolio{
    background-color: white;
}

.portfolio-header{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-list{
    list-style-type: none;
}

.portfolio-list-item{
    background-color: white;
}



.portfolio-list-header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-list-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: regular;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

/* section-portfolio-end */

/* section-footer-start */

footer{
    background-color: #2E2F42;

}

.footer-logo {
    text-decoration: none;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-item {
    color: #f4f4fd;
}

.footer-text{
    white-space: pre-line;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: regular;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
}
